################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AVL/include/SFML/Graphics/BlendMode.hpp
/AVL/AVL/AVL.vcxproj
/AVL/include/SFML/Window/Vulkan.hpp
/AVL/include/SFML/Window/WindowBase.hpp
